@model ProductCategoryViewModel
@{
    ViewData["Title"] = "Shop Detail";
}
<!-- Detail Start -->
<div class="container">
    <section class="detail">
        <div class="detail_img">
            <img src="~/assets/img/@Model.Product.Image" alt="product" />
        </div>
        <div class="detail_text">
            <h2>@Model.Product.Name</h2>
            <div class="product_count_box">$<h4 class="price_count">@Model.Product.Price</h4></div>
            <h5>@Html.Raw(@Model.Product.Description)</h5>
            <div class="detail_count">
                <div class="product_count">
                    <a class="count_box count_min">-</a>
                    <div class="count_box count_value">1</div>
                    <a class="count_box count_plus">+</a>
                </div>
            </div>
            <form method="post" class="detail_form">
                <button type="submit" class="add_basket" asp-route-prodCount="@ViewBag.ProdCount">Add To Cart</button>
            </form>
            <p class="detail_p">
                Categories:
                @foreach (var item in Model.Product.ProductCategories)
                {
                    <a asp-route-categoryId="@item.Category.Id" asp-action="Index">@item.Category.Name</a>
                }            
            </p>
        </div>
    </section>
</div>
<!-- Detail End -->
<script src="~/assets/js/prod_detail.js"></script>
