@model Dictionary<string, string>
@{
    Layout = null;
}
<!-- Footer Start -->
<footer class="home_footer">
    <div class="container">
        <section class="footer_top">
            <div class="footer_box footer_box_one">
                <div class="footer_logo">
                    <a asp-action="Index" asp-controller="Home">
                        <img src="~/assets/img/@*@Model["FooterLogo"]*@" alt="footer_logo" />
                    </a>
                </div>
                <p>
                 @*   @Model["FooterDesc"]*@
                </p>
            </div>
            <div class="footer_box">
                <h4>Social Media</h4>
                <div class="footer_social">
               @*     <a href="@Model["FooterFb"]"><i class="fa-brands fa-facebook"></i></a>
                    <a href="@Model["FooterInsta"]"><i class="fa-brands fa-instagram"></i></a>
                    <a href="@Model["FooterTw"]"><i class="fa-brands fa-twitter"></i></a>
                    <a href="@Model["FooterYt"]"><i class="fa-brands fa-youtube"></i></a>*@
                </div>
            </div>
            <div class="footer_box">
                <h4>Links</h4>
                <ul class="footer_ul">
                    <li><a asp-action="Index" asp-controller="Home">HOME</a></li>
                    <li><a asp-action="Index" asp-controller="Shop">SHOP ALL</a></li>
                    <li><a asp-action="Index" asp-controller="About">ABOUT US</a></li>
                    <li><a asp-action="Index" asp-controller="Contact">CONTACT</a></li>
                </ul>
            </div>
            <div class="footer_box">
                <h4>Contact</h4>
                <div class="footer_contaxt">
                   @* <p>@Model["FooterAdress"]</p>
                    <p>@Model["FooterMail"]</p>
                    <p>@Model["FooterNum"]</p>*@
                </div>
            </div>
        </section>
    </div>
    <section class="footer_bottom">
        <div class="container">
            <div class="footer_bottom_text">
                <p>
                    Copyright © 2023 Furniture Shop | This template is made by
                    <span>Aykhan Mustafayev</span>
                </p>
            </div>
        </div>
    </section>
</footer>
<!-- Footer End -->