@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}
<!-- Slide Start -->
<section class="slide">
    <div class="splide">
        <div class="splide__track">
            <div class="splide__list">
                @foreach (var slider in Model.Sliders)
                {
                    <div class="splide__slide">
                        <div class="slide_img">
                            <img src="~/assets/img/@slider.Image" alt="" />
                            <div class="container">
                                <div class="slide_text">
                                    <h6>@slider.Title</h6>
                                    <h1>@slider.Offer</h1>
                                    <h4>@Html.Raw(@slider.Description)</h4>
                                    <div class="slide_button">
                                        <a asp-action="Index" asp-controller="Shop">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Slide End -->
<!-- Category Start -->
<div class="container">
    <section class="category">
        <div class="main_title">
            <h6 class="title_h6">Shop by category</h6>
            <h2 class="title_h2">Shop by category</h2>
            <div class="main_title_line"></div>
        </div>
        <div class="category_boxes">
            @foreach (var category in Model.Categories)
            {
                <a asp-route-categoryId="@category.Id" asp-action="Index" asp-controller="Shop">
                    <div class="category_box">
                        <img src="~/assets/img/@category.Image" alt="category" />
                        <div class="category_box_text">
                            <h2>@category.Name</h2>
                            <p>@category.ProductCategories.Count Products</p>
                        </div>
                    </div>
                </a>
            }

        </div>
    </section>
</div>
<!-- Category End -->
<!-- Product Start -->
<div class="container">
    <section class="category">
        <div class="main_title">
            <h6 class="title_h6">Best products</h6>
            <h2 class="title_h2">Featured products</h2>
            <div class="main_title_line"></div>
        </div>
        <div class="products_boxes">
            @foreach (var product in Model.Products)
            {
                <a asp-action="Detail" asp-controller="Shop" asp-route-id="@product.Id">
                    <div class="product_box">
                        <div class="product_box_img">
                            <img src="~/assets/img/@product.Image" alt="product" />
                        </div>
                        <div class="product_box_text">
                            <h2>@product.Name</h2>
                            <p class="price_prod">@product.Price</p>
                        </div>
                    </div>
                </a>
            }
        </div>
    </section>
</div>
<!-- Product End -->
<!-- Service Start -->
<div class="container">
    <section class="category">
        <div class="main_title">
            <h6 class="title_h6">Our Services</h6>
            <h2 class="title_h2">Why choose us</h2>
            <div class="main_title_line"></div>
        </div>
        <div class="services_boxes">
            @foreach (var service in Model.Services)
            {
                <div class="service_box">
                    <i class="@service.Icon"></i>
                    <div class="service_box_text">
                        <h2>@service.Title</h2>
                        <p>
                            @Html.Raw(@service.Description)
                        </p>
                    </div>
                </div>
            }
        </div>
    </section>
</div>
<!-- Service End -->
<script src="~/assets/js/prod_price.js"></script>
<script src=@Html.Raw("https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js")></script>
<script>
    var splide = new Splide(".splide", {
        type: "fade",
        rewind: true,
    });
    splide.mount();
</script>